.container{
    width: 100%;
    margin-top: 4rem;
    // height: 50vh;
    display: flex;
    padding: 0 4rem;

    .left{
        width: 30%;

    }
    .right{
        display: flex;
        margin: 0 auto;
        gap: 10rem;

        .content{
            line-height: 2.5rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        display: block;      
        padding: 0 1rem;
        .left{
            width: 100%;
        }
        .right{
            display: block;
    
            .content{
                line-height: 1rem;
            }
        }
    }
}